In [153]:
import pandas as pd
import requests

In [2]:
url = "https://api.upbit.com/v1/candles/days"

querystring = {"market":"KRW-ETH","count":"200"}

headers = {"Accept": "application/json"}

response = requests.request("GET", url, headers=headers, params=querystring)

In [3]:
res = response.json()

In [7]:
df = pd.DataFrame(res)

In [21]:
my_df = df[['market','candle_date_time_kst','opening_price','high_price','low_price','trade_price']].copy()
my_df

,market,candle_date_time_kst,opening_price,high_price,low_price,trade_price
0,KRW-ETH,2022-06-22T09:00:00,1466500.0,1468000.0,1374000.0,1379500.0
1,KRW-ETH,2022-06-21T09:00:00,1460500.0,1535500.0,1440000.0,1466500.0
2,KRW-ETH,2022-06-20T09:00:00,1462000.0,1516000.0,1373000.0,1460500.0
3,KRW-ETH,2022-06-19T09:00:00,1312500.0,1487500.0,1237500.0,1462000.0
4,KRW-ETH,2022-06-18T09:00:00,1432000.0,1445500.0,1201500.0,1313000.0
...,...,...,...,...,...,...
195,KRW-ETH,2021-12-09T09:00:00,5462000.0,5500000.0,5103000.0,5128000.0
196,KRW-ETH,2021-12-08T09:00:00,5381000.0,5490000.0,5247000.0,5462000.0
197,KRW-ETH,2021-12-07T09:00:00,5384000.0,5486000.0,5308000.0,5379000.0
198,KRW-ETH,2021-12-06T09:00:00,5257000.0,5420000.0,4918000.0,5388000.0
199,KRW-ETH,2021-12-05T09:00:00,5198000.0,5360000.0,5039000.0,5259000.0

In [22]:
my_df['candle_date_time_kst'] = my_df['candle_date_time_kst'].str[:10]
my_df

,market,candle_date_time_kst,opening_price,high_price,low_price,trade_price
0,KRW-ETH,2022-06-22,1466500.0,1468000.0,1374000.0,1379500.0
1,KRW-ETH,2022-06-21,1460500.0,1535500.0,1440000.0,1466500.0
2,KRW-ETH,2022-06-20,1462000.0,1516000.0,1373000.0,1460500.0
3,KRW-ETH,2022-06-19,1312500.0,1487500.0,1237500.0,1462000.0
4,KRW-ETH,2022-06-18,1432000.0,1445500.0,1201500.0,1313000.0
...,...,...,...,...,...,...
195,KRW-ETH,2021-12-09,5462000.0,5500000.0,5103000.0,5128000.0
196,KRW-ETH,2021-12-08,5381000.0,5490000.0,5247000.0,5462000.0
197,KRW-ETH,2021-12-07,5384000.0,5486000.0,5308000.0,5379000.0
198,KRW-ETH,2021-12-06,5257000.0,5420000.0,4918000.0,5388000.0
199,KRW-ETH,2021-12-05,5198000.0,5360000.0,5039000.0,5259000.0

In [24]:
my_df.set_index('candle_date_time_kst', inplace = True) #지정한 컬럼을 인덱스로 변경한다.

In [25]:
my_df

,market,opening_price,high_price,low_price,trade_price
candle_date_time_kst,,,,,
2022-06-22,KRW-ETH,1466500.0,1468000.0,1374000.0,1379500.0
2022-06-21,KRW-ETH,1460500.0,1535500.0,1440000.0,1466500.0
2022-06-20,KRW-ETH,1462000.0,1516000.0,1373000.0,1460500.0
2022-06-19,KRW-ETH,1312500.0,1487500.0,1237500.0,1462000.0
2022-06-18,KRW-ETH,1432000.0,1445500.0,1201500.0,1313000.0
...,...,...,...,...,...
2021-12-09,KRW-ETH,5462000.0,5500000.0,5103000.0,5128000.0
2021-12-08,KRW-ETH,5381000.0,5490000.0,5247000.0,5462000.0
2021-12-07,KRW-ETH,5384000.0,5486000.0,5308000.0,5379000.0
2021-12-06,KRW-ETH,5257000.0,5420000.0,4918000.0,5388000.0
2021-12-05,KRW-ETH,5198000.0,5360000.0,5039000.0,5259000.0

In [63]:
my_df['m5'] = 0
my_df['m10'] = 0

In [45]:
print(my_df.trade_price[:5].mean())
print(my_df.trade_price[:10].mean())

1416300.0
1467450.0

In [64]:
def df_mean(x):
    for i in range(len(x)):
        x['m5'].iloc[i] = x.iloc[i:i+5].trade_price.mean()
        x['m10'].iloc[i] = x.iloc[i:i+10].trade_price.mean()
        if len(x.iloc[i:i+5]) != 5:
            x['m5'].iloc[i] = 0
        if len(x.iloc[i:i+10]) != 10:
            x['m10'].iloc[i] = 0

In [65]:
df_mean(my_df)

C:\Users\user\AppData\Local\Temp\ipykernel_5920\1621570349.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['m5'].iloc[i] = x.iloc[i:i+5].trade_price.mean()
C:\Users\user\AppData\Local\Temp\ipykernel_5920\1621570349.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['m10'].iloc[i] = x.iloc[i:i+10].trade_price.mean()
C:\Users\user\AppData\Local\Temp\ipykernel_5920\1621570349.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['m5'].iloc[i] = 0

In [66]:
my_df

,market,opening_price,high_price,low_price,trade_price,m5,m10
candle_date_time_kst,,,,,,,
2022-06-22,KRW-ETH,1466500.0,1468000.0,1374000.0,1379500.0,1416300,1467450.0
2022-06-21,KRW-ETH,1460500.0,1535500.0,1440000.0,1466500.0,1426900,1516850.0
2022-06-20,KRW-ETH,1462000.0,1516000.0,1373000.0,1460500.0,1415200,1570300.0
2022-06-19,KRW-ETH,1312500.0,1487500.0,1237500.0,1462000.0,1443400,1639850.0
2022-06-18,KRW-ETH,1432000.0,1445500.0,1201500.0,1313000.0,1465700,1720950.0
...,...,...,...,...,...,...,...
2021-12-09,KRW-ETH,5462000.0,5500000.0,5103000.0,5128000.0,5323200,0.0
2021-12-08,KRW-ETH,5381000.0,5490000.0,5247000.0,5462000.0,0,0.0
2021-12-07,KRW-ETH,5384000.0,5486000.0,5308000.0,5379000.0,0,0.0
2021-12-06,KRW-ETH,5257000.0,5420000.0,4918000.0,5388000.0,0,0.0
2021-12-05,KRW-ETH,5198000.0,5360000.0,5039000.0,5259000.0,0,0.0

In [162]:
api_key = '7452436f4361726f33306c62544862'

In [163]:
url = 'http://openapi.seoul.go.kr:8088/'+api_key+'/json/tbLnOpendataRentV/1/1000/'

In [135]:
res = requests.get(url).json()

In [136]:
res.keys()

dict_keys(['tbLnOpendataRentV'])

In [137]:
res['tbLnOpendataRentV'].keys()

dict_keys(['list_total_count', 'RESULT', 'row'])

In [138]:
tmp = res['tbLnOpendataRentV']['row']

In [139]:
len(res['tbLnOpendataRentV']['row'])

1000

In [140]:
df = pd.DataFrame(tmp)
df

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_NM,LAND_GBN_NM,BOBN,BUBN,FLR_NO,CNTRCT_DE,RENT_GBN,...,RENT_FEE,BLDG_NM,BUILD_YEAR,HOUSE_GBN_NM,CNTRCT_PRD,NEW_RON_SECD,CNTRCT_UPDT_RQEST_AT,BEFORE_GRNTY_AMOUNT,BEFORE_MT_RENT_CHRGE,BJDONG_CD
0,2022,11440,마포구,대흥동,대지,0660,0000,18.0,20220621,월세,...,14,대흥태영(660-0),1999,아파트,,,,,,10800
1,2022,11380,은평구,수색동,대지,0415,0001,5.0,20220621,월세,...,15,대림한숲(DMC이편한세상),2003,아파트,,,,,,10100
2,2022,11530,구로구,구로동,대지,0651,0002,11.0,20220621,전세,...,0,퀸즈파크 구일,2019,오피스텔,,,,,,10200
3,2022,11140,중구,신당동,대지,0842,0000,10.0,20220621,전세,...,0,약수하이츠,1999,아파트,,,,,,16200
4,2022,11230,동대문구,답십리동,,,,0.0,20220621,월세,...,20,,1993,단독다가구,,,,,,10500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022,11500,강서구,마곡동,대지,0739,0004,10.0,20220620,전세,...,0,마곡 헤리움1차,2015,오피스텔,,,,,,10500
996,2022,11410,서대문구,현저동,대지,0201,0000,12.0,20220620,월세,...,13,독립문극동(201-0),1998,아파트,,,,,,10900
997,2022,11410,서대문구,현저동,대지,0201,0000,11.0,20220620,월세,...,12,독립문극동(201-0),1998,아파트,,,,,,10900
998,2022,11710,송파구,마천동,대지,0172,0006,2.0,20220620,전세,...,0,(172-6),2006,연립다세대,,,,,,11400
999,2022,11410,서대문구,현저동,대지,0201,0000,12.0,20220620,월세,...,12,독립문극동(201-0),1998,아파트,,,,,,10900

In [141]:
sel_c = ['SGG_NM','BJDONG_NM','LAND_GBN_NM','FLR_NO','CNTRCT_DE','RENT_GBN','RENT_AREA','RENT_GTN','RENT_FEE','BLDG_NM','BUILD_YEAR']

In [142]:
my_df = df[sel_c]
my_df

,SGG_NM,BJDONG_NM,LAND_GBN_NM,FLR_NO,CNTRCT_DE,RENT_GBN,RENT_AREA,RENT_GTN,RENT_FEE,BLDG_NM,BUILD_YEAR
0,마포구,대흥동,대지,18.0,20220621,월세,32.40,998,14,대흥태영(660-0),1999
1,은평구,수색동,대지,5.0,20220621,월세,32.78,1054,15,대림한숲(DMC이편한세상),2003
2,구로구,구로동,대지,11.0,20220621,전세,17.36,15000,0,퀸즈파크 구일,2019
3,중구,신당동,대지,10.0,20220621,전세,57.63,37800,0,약수하이츠,1999
4,동대문구,답십리동,,0.0,20220621,월세,25.42,200,20,,1993
...,...,...,...,...,...,...,...,...,...,...,...
995,강서구,마곡동,대지,10.0,20220620,전세,24.07,16000,0,마곡 헤리움1차,2015
996,서대문구,현저동,대지,12.0,20220620,월세,27.00,324,13,독립문극동(201-0),1998
997,서대문구,현저동,대지,11.0,20220620,월세,27.00,812,12,독립문극동(201-0),1998
998,송파구,마천동,대지,2.0,20220620,전세,53.28,17850,0,(172-6),2006
999,서대문구,현저동,대지,12.0,20220620,월세,27.00,812,12,독립문극동(201-0),1998

In [156]:
my_df.columns=['자치구명','법정동명','지번구분명','층수','계약일','전월세','면적','보증금','임대료','건물명','건축년도']
my_df

,자치구명,법정동명,지번구분명,층수,계약일,전월세,면적,보증금,임대료,건물명,건축년도
0,마포구,대흥동,대지,18.0,20220621,월세,32.40,998,14,대흥태영(660-0),1999
1,은평구,수색동,대지,5.0,20220621,월세,32.78,1054,15,대림한숲(DMC이편한세상),2003
2,구로구,구로동,대지,11.0,20220621,전세,17.36,15000,0,퀸즈파크 구일,2019
3,중구,신당동,대지,10.0,20220621,전세,57.63,37800,0,약수하이츠,1999
4,동대문구,답십리동,,0.0,20220621,월세,25.42,200,20,,1993
...,...,...,...,...,...,...,...,...,...,...,...
995,강서구,마곡동,대지,10.0,20220620,전세,24.07,16000,0,마곡 헤리움1차,2015
996,서대문구,현저동,대지,12.0,20220620,월세,27.00,324,13,독립문극동(201-0),1998
997,서대문구,현저동,대지,11.0,20220620,월세,27.00,812,12,독립문극동(201-0),1998
998,송파구,마천동,대지,2.0,20220620,전세,53.28,17850,0,(172-6),2006
999,서대문구,현저동,대지,12.0,20220620,월세,27.00,812,12,독립문극동(201-0),1998

In [169]:
my_df_tmp = my_df.loc[my_df['전월세'] == '전세']
my_df_tmp

,자치구명,법정동명,지번구분명,층수,계약일,전월세,면적,보증금,임대료,건물명,건축년도
2,구로구,구로동,대지,11.0,20220621,전세,17.36,15000,0,퀸즈파크 구일,2019
3,중구,신당동,대지,10.0,20220621,전세,57.63,37800,0,약수하이츠,1999
7,서대문구,남가좌동,,0.0,20220621,전세,16.00,7000,0,,2016
9,은평구,갈현동,,0.0,20220621,전세,82.84,16000,0,,1973
10,관악구,신림동,,0.0,20220621,전세,25.00,8000,0,,2019
...,...,...,...,...,...,...,...,...,...,...,...
985,강동구,천호동,대지,6.0,20220620,전세,46.51,23000,0,(169-1),2016
991,강서구,마곡동,대지,3.0,20220620,전세,26.68,19500,0,마곡 파크뷰 대방디엠시티 오피스텔,2019
994,강서구,등촌동,대지,2.0,20220620,전세,59.88,26000,0,두보하이츠빌라,1988
995,강서구,마곡동,대지,10.0,20220620,전세,24.07,16000,0,마곡 헤리움1차,2015
998,송파구,마천동,대지,2.0,20220620,전세,53.28,17850,0,(172-6),2006

my_df_tmp = my_df[my_df['전월세'] == '전세']  
my_df_tmp

In [175]:
my_df_tmp['보증금'] = my_df_tmp['보증금'].astype('int')

C:\Users\user\AppData\Local\Temp\ipykernel_5920\501513213.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df_tmp['보증금']= my_df_tmp['보증금'].astype('int')

my_df_tmp = my_df_tmp.astype({'보증금':'int'})

In [181]:
my_df_tmp = my_df_tmp.groupby(['자치구명'])[['보증금']].mean().round(2)
my_df_tmp

           보증금
자치구명
강남구   46339.57
강동구   36436.62
강북구   21098.57
강서구   27252.98
관악구   21493.48
광진구   31287.50
구로구   20835.00
금천구   20407.50
노원구   27920.45
도봉구   22626.92
동대문구  29926.92
동작구   38784.42
마포구   39882.23
서대문구  26659.09
서초구   50445.00
성동구   47096.35
성북구   17143.83
송파구   44603.12
양천구   26037.38
영등포구  33814.73
용산구   55788.89
은평구   29930.71
중구    28329.60
중랑구   19684.94

In [185]:
my_df_tmp = my_df_tmp.sort_values(by=['보증금'])
my_df_tmp

           보증금
자치구명
성북구   17143.83
중랑구   19684.94
금천구   20407.50
구로구   20835.00
강북구   21098.57
관악구   21493.48
도봉구   22626.92
양천구   26037.38
서대문구  26659.09
강서구   27252.98
노원구   27920.45
중구    28329.60
동대문구  29926.92
은평구   29930.71
광진구   31287.50
영등포구  33814.73
강동구   36436.62
동작구   38784.42
마포구   39882.23
송파구   44603.12
강남구   46339.57
성동구   47096.35
서초구   50445.00
용산구   55788.89

In [235]:
my_df_tmp_2 = my_df[my_df['전월세'] == '월세']
my_df_tmp_2

,자치구명,법정동명,지번구분명,층수,계약일,전월세,면적,보증금,임대료,건물명,건축년도
0,마포구,대흥동,대지,18.0,20220621,월세,32.40,998,14,대흥태영(660-0),1999
1,은평구,수색동,대지,5.0,20220621,월세,32.78,1054,15,대림한숲(DMC이편한세상),2003
4,동대문구,답십리동,,0.0,20220621,월세,25.42,200,20,,1993
5,노원구,중계동,대지,1.0,20220621,월세,30.60,957,14,양지대림1(임대),1999
6,서초구,반포동,대지,2.0,20220621,월세,15.87,500,60,똘레랑스빌,2010
...,...,...,...,...,...,...,...,...,...,...,...
992,강동구,암사동,,0.0,20220620,월세,50.00,7000,60,,1999
993,강서구,화곡동,,0.0,20220620,월세,50.00,1000,35,,1994
996,서대문구,현저동,대지,12.0,20220620,월세,27.00,324,13,독립문극동(201-0),1998
997,서대문구,현저동,대지,11.0,20220620,월세,27.00,812,12,독립문극동(201-0),1998
999,서대문구,현저동,대지,12.0,20220620,월세,27.00,812,12,독립문극동(201-0),1998

In [236]:
my_df_tmp_2 = my_df_tmp_2.astype({'보증금':'int', '임대료':'int'})

In [237]:
my_df_tmp_2 = my_df_tmp_2.groupby(['자치구명'])[['보증금', '임대료']].mean().round(2)
my_df_tmp_2

           보증금    임대료
자치구명
강남구   26416.61  84.48
강동구    6479.25  46.15
강북구    7734.86  27.43
강서구    7945.45  35.64
관악구    3641.40  26.56
광진구   17166.67  37.00
구로구   17884.54  42.69
금천구    1396.00  42.17
노원구    1716.52  27.38
도봉구    5977.80  42.20
동대문구   2400.88  27.41
동작구    6200.85  48.77
마포구   10642.60  36.20
서대문구   2169.14  25.83
서초구   28705.33  75.17
성동구    6265.06  44.88
성북구    3608.53  20.91
송파구    9182.64  59.07
양천구   11281.79  51.64
영등포구   3139.08  26.19
용산구   23269.86  73.86
은평구    3853.64  28.90
종로구    5325.60  32.20
중구     2831.57  21.79
중랑구   13516.67  30.67

In [238]:
my_df_tmp_2 = my_df_tmp_2.sort_values(by=['임대료'])
my_df_tmp_2

           보증금    임대료
자치구명
성북구    3608.53  20.91
중구     2831.57  21.79
서대문구   2169.14  25.83
영등포구   3139.08  26.19
관악구    3641.40  26.56
노원구    1716.52  27.38
동대문구   2400.88  27.41
강북구    7734.86  27.43
은평구    3853.64  28.90
중랑구   13516.67  30.67
종로구    5325.60  32.20
강서구    7945.45  35.64
마포구   10642.60  36.20
광진구   17166.67  37.00
금천구    1396.00  42.17
도봉구    5977.80  42.20
구로구   17884.54  42.69
성동구    6265.06  44.88
강동구    6479.25  46.15
동작구    6200.85  48.77
양천구   11281.79  51.64
송파구    9182.64  59.07
용산구   23269.86  73.86
서초구   28705.33  75.17
강남구   26416.61  84.48

In [267]:
my_df_tmp_2['보증금 임대료'] = 0

In [268]:
my_df_tmp_2['보증금 임대료'] = my_df_tmp_2.apply(lambda x: 0 if x.보증금 == 0 else round((x.임대료/x.보증금)*100, 4), axis = 1)

In [269]:
my_df_tmp_2

           보증금    임대료  보증금 임대료
자치구명
성북구    3608.53  20.91   0.5795
중구     2831.57  21.79   0.7695
서대문구   2169.14  25.83   1.1908
영등포구   3139.08  26.19   0.8343
관악구    3641.40  26.56   0.7294
노원구    1716.52  27.38   1.5951
동대문구   2400.88  27.41   1.1417
강북구    7734.86  27.43   0.3546
은평구    3853.64  28.90   0.7499
중랑구   13516.67  30.67   0.2269
종로구    5325.60  32.20   0.6046
강서구    7945.45  35.64   0.4486
마포구   10642.60  36.20   0.3401
광진구   17166.67  37.00   0.2155
금천구    1396.00  42.17   3.0208
도봉구    5977.80  42.20   0.7059
구로구   17884.54  42.69   0.2387
성동구    6265.06  44.88   0.7164
강동구    6479.25  46.15   0.7123
동작구    6200.85  48.77   0.7865
양천구   11281.79  51.64   0.4577
송파구    9182.64  59.07   0.6433
용산구   23269.86  73.86   0.3174
서초구   28705.33  75.17   0.2619
강남구   26416.61  84.48   0.3198

아나콘다 프롬포트 -> conda install cx_Oracle

In [271]:
import cx_Oracle
import pandas as pd

In [272]:
dsn = cx_Oracle.makedsn('localhost', 1521, 'xe')

In [276]:
db = cx_Oracle.connect(user = 'icia', password = '1234', dsn = dsn)

In [277]:
db

In [279]:
cursor = db.cursor()

In [280]:
query = 'create table test(id number(1), name varchar(5), constraint test0623_pk primary key(id))'

In [282]:
cursor.execute(query)

In [283]:
query2 = 'select * from test'

In [289]:
pd.read_sql(sql = query2, con=db)

C:\Users\user\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   ID   NAME
0   1  test1

In [287]:
query3 = "insert into test(id, name) values(1, 'test1')"

In [288]:
cursor.execute(query3)

In [290]:
db.commit()
cursor.close()
db.close()